<!-- Header start -->
<header id="header" class="fixed-top header" role="banner">
	<!-- <a class="navbar-brand navbar-bg" href=""><img class="img-fluid float-right" src="img/favicon/logo.png" alt="logo"></a> -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-dark">
					<a class="navbar-brand navbar-bg" href=""><img class="img-fluid float-right" src="~/assets/public/img/favicon/logo.png" alt="logo"></a>
					<button class="navbar-toggler ml-auto border-0 rounded-0 text-white" type="button" data-toggle="collapse"
							data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="fa fa-bars"></span>
					</button>

					<div class="collapse navbar-collapse text-center" id="navigation">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="">Home</a></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="@Url.Action("About")">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="@Url.Action("Service")">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="@Url.Action("Career")">Career</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="@Url.Action("Contact")">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
<!--/ Header end -->